* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* shared style */

.btn {
  background-color: #469165;
  font-weight: 600;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: chocolate;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
}
.nav-menu li {
  list-style: none;
}
.nav-menu ul {
  display: flex;
  gap: 32px;
  font-weight: 500;
}

.nav-menu li a {
  display: block;
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
}
.nav-menu li a:hover{
  background-color: rgb(252, 168, 108);
  
}

.banner {
  text-align: center;
  background: url("../assets/hero-bg.png"), rgba(0, 25, 49, 0.8);
  padding: 80px 0;
}

.btn-access {
  padding: 10px 14px;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #30b868;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.btn-access:hover{
  background-color: rgb(252, 168, 108);
}
.btn-access img{
  padding: 3px 8px 0 0;
}
.banner-content {
  width: 770px;
  margin: 0 auto;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  color: #30b868;
}
.banner-content p {
  font-size: 18px;
  color: white;
  line-height: 24px;
  padding: 20px 0;
}
.banner-content span {
  color: white;
}

.btn.btn-vault{
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn.play-btn{
  display: inline-flex;
  align-items: center;
  padding: 21px 40px;
  gap: 10px;
}


.card-container {
  padding: 30px 120px;
}
.card-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 330px;
  height: 300px;
  box-shadow: 0 0 4px 0 #cfc8c8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card h2 {
  font-size: 24px;
  font-weight: 600;
}
.card-content h1 {
  font-size: 48px;
  text-align: center;
  padding: 15px 0;
  color: #001931;
}
.card-content p {
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
  color: #627382;
}

.card p {
  padding: 10px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: red;
  margin: 0 auto;
}

.brain-section {
  margin: 120px;
}

.brain-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.brain-content {
  width: 800px;
}
.brain-content h4 {
  color: #30b868;
  font-weight: 500;
  padding: 15px 15px;
}
.brain-content h1 {
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  padding: 10px 15px;
}
.brain-content p {
  line-height: 20px;
  color: #627382;
  padding: 10px 15px;
}
.brain-content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding-top: 20px;
}


.brain-image img {
  max-width: 600px;
}

.button-container {
  margin: 120px;
}

.button-box {
  background-color: #f7f6f2;
  text-align: center;
  padding: 80px 0;
}
.button-box h1 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 16px;
  color: #001931;
}
.button-box p {
  padding-bottom: 24px;
  color: #627382;
  padding: 15px 0;
}
.ready-access{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 20px;
}
.list-decoration{
  list-style: none;
}

footer {
  background-color: #001931;
}
.footer-container {
  padding: 120px 120px 30px 120px;
  /* border-bottom: 2px solid red; */
}
.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e7eb;
}
.footer-items h3 {
  color: white;
  padding-bottom: 20px;
}

.footer-items img {
  padding-left: 10px;
}
.copy-right {
  color: white;
  text-align: center;
  padding-top: 40px;
}
