* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* shared style */

.btn {
  background-color: #469165; 
  font-weight: 600;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
}
.nav-menu li {
  list-style: none;
}
.nav-menu ul {
  display: flex;
  gap: 32px;
  font-weight: 500;
}

.nav-menu li a {
  text-decoration: none;
  color: #000000;
}

.banner {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("../images/hero.jpg");
  /* background-image: url("/images/hero.jpg"); */
  background-size: cover;
  background-position: center top;
  min-height: 90vh;
  padding-top: 120px;
}

.btn-access {
  padding: 10px 14px;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #30b868;
  font-weight: 500;
  font-size: 18px;
}
.banner-content {
  width: 770px;
  margin: 0 auto;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  color: #30b868;
}
.banner-content p {
  font-size: 18px;
  color: white;
  line-height: 24px;
  padding: 20px 0;
}
.banner-content span {
  color: white;
}

.card-container {
  padding: 30px 120px;
}
.card-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}

.card {
  max-width: 330px;
  height: 300px;
  box-shadow: 0 0 8px 0 #8b8383;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-content h1{
    font-size: 48px;
    text-align: center;
    padding: 15px 0;
    color: #001931;
}
.card-content p{
    line-height: 20px;
    text-align: center;
    padding: 20px 0;
    color: #627382;
}

.card p{
    padding: 10px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: red;
  margin: 0 auto;
  
}

.brain-section{
  margin: 120px;
}

.brain-container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.brain-content{
  width: 700px;
  
}
.brain-content h4{
  color: #30B868;
  font-weight: 500;
  padding: 15px 15px;
}
.brain-content h1{
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  padding: 10px 15px;
}
.brain-content p{
  line-height: 20px;
  color: #627382;
  padding: 10px 15px;
}
.brain-content ul li{
  list-style: none;
  padding-top: 20px;
}

.fa-circle-check{ 
  color: #22c55e;
 }
.brain-image img{
  width: 600px;
}

.button-container{
  margin: 120px;
}

.button-box{
  background-color: #F7F6F2;
  text-align: center;
  padding: 80px 0;
}
.button-box h1{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 16px;
  color: #001931;
}
.button-box p{
  padding-bottom: 24px;
  color: #627382;
  padding: 15px 0;
}

footer{
  background-color: #001931;
}
.footer-container{
  padding: 120px 120px 30px 120px;
  /* border-bottom: 2px solid red; */
}
.footer-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #E5E7EB;
}
.footer-items h3{
  color: white;
  padding-bottom: 20px;
}

.footer-items img{
  padding-left: 10px;
}
.copy-right{
  color: white;
  text-align: center;
  padding-top: 40px;
  
}